NEXT_PUBLIC_CROSSMINT_API_KEY=
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
# Devnet USDC mint address, use mainnet mint address for production
NEXT_PUBLIC_USDC_TOKEN_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU

REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=